<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <a href="">Home</a> | <a href="projects">Projects</a> | <a href="contacts">Contacts</a>
            </div>
        </nav><br>
        <h1 style="text-align: center;">@ViewBag.Example</h1>
        <div class="container">
            <div style="display: inline-block"><img src="~/images/hike.jpg" alt="summit" style="height: 250px; width: 250px"><br>
                <h2>Dan Aqua Man</h2><br>
                <h3>I like sailing, packrafting, hiking</h3>
            </div>
            <div style="display: inline-block; margin-left: 200px; vertical-align: top;">
                <p>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>
                Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>
                Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>
                Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>Ipsum Lorem impsum Ipsum Lorem impsum<br>
                </p>
                </div>
        </div>

    </body>
</html>