<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="firstMethod">Home</a> | <a href="projects">Projects</a> | <a href="contacts">Contacts</a>
        </div>
    </nav><br>
    <h1 style="text-align: center;">@ViewBag.Example</h1>
    <div class="container" style="display: inline-block; width: 25%; vertical-align: top;">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 5</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 6</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 7</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 8</a>
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 9</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 10</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 11</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 12</a>
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 13</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 14</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 15</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 16</a>
        </div>
    </div>
    <div class="container" style="display: inline-block; width: 65%;">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <h4 id="list-item-1">Item 1</h4>
                <p>...</p>
            <h4 id="list-item-2">Item 2</h4>
                <p>...</p>
            <h4 id="list-item-3">Item 3</h4>
                <p>...</p>
            <h4 id="list-item-4">Item 4</h4>
                <p>...</p>
            <h4 id="list-item-5">Item 5</h4>
                <p>...</p>
            <h4 id="list-item-6">Item 6</h4>
                <p>...</p>
            <h4 id="list-item-7">Item 7</h4>
                <p>...</p>
            <h4 id="list-item-8">Item 8</h4>
                <p>...</p>
            <h4 id="list-item-9">Item 9</h4>
                <p>...</p>
            <h4 id="list-item-10">Item 10</h4>
                <p>...</p>
            <h4 id="list-item-11">Item 11</h4>
                <p>...</p>
            <h4 id="list-item-12">Item 12</h4>
                <p>...</p>
            <h4 id="list-item-13">Item 13</h4>
                <p>...</p>
            <h4 id="list-item-14">Item 14</h4>
                <p>...</p>
            <h4 id="list-item-15">Item 15</h4>
                <p>...</p>
            <h4 id="list-item-16">Item 16</h4>
                <p>...</p>
        </div>
    </div>

    
</body>
</html>